@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body {
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #FF6F61;
}

header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 160%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh;
  font-size: 80%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.section {
  max-width: 980px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element {
  font-size: 200%;
}

.buttons {
  margin: 0 5px !important;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.github-button {
  background-color: black !important;
  color: white !important;
}

.blog-button {
  background-color: #7510f7 !important;
  color: white !important;
}

.start {
  padding-top: 15vh;
}

@media screen and (max-width: 700px) {
  .section {
    margin: 0 20px;
  }

  .blog-button {
    margin-top: 15px !important;
  }

  footer {
    position: relative;
  }
}